<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426472173953-i20vloiurbd3tavjdc66k27u22e8leht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426472173953-i20vloiurbd3tavjdc66k27u22e8leht</string>
	<key>API_KEY</key>
	<string>AIzaSyDQnxu-PYmKas1fSAuTTj3OlQMvGRmfLmw</string>
	<key>GCM_SENDER_ID</key>
	<string>426472173953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>top.good.afternoon.animated.sticker.wishes.quotes.messages.gif.images.status.photo.collage.card.greeting.meme.best.maker</string>
	<key>PROJECT_ID</key>
	<string>message-for-all-ocassion-2</string>
	<key>STORAGE_BUCKET</key>
	<string>message-for-all-ocassion-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:426472173953:ios:fe23bfd089cf55d78bf880</string>
</dict>
</plist>
